<?xml version="1.0" encoding="utf-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大连接数-->
        <property name="maxTotal" value="${spring.redis.cluster.pool.maxTotal}" />
        <!--最大空闲连接数-->
        <property name="maxIdle" value="${spring.redis.cluster.pool.maxIdle}" />
        <!--初始化连接数-->
        <property name="minIdle" value="${spring.redis.cluster.pool.minIdle}"/>
        <!--对拿到的connection进行validateObject校验-->
        <property name="testOnBorrow" value="true" />
        <!--在进行returnObject对返回的connection进行validateObject校验-->
        <property name="testOnReturn" value="true" />
        <!--定时对线程池中空闲的链接进行validateObject校验-->
        <property name="testWhileIdle" value="true" />
    </bean>

    <bean id="redisPropertySource" class="org.springframework.core.io.support.ResourcePropertySource">
        <constructor-arg name="location" value="classpath:properties/redis.properties"></constructor-arg>
    </bean>
    <bean id="redisClusterConfiguration" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <constructor-arg name="propertySource" ref="redisPropertySource"></constructor-arg>
    </bean>

    <!--<bean id="jedisConnectionFactory"-->
          <!--class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"-->
          <!--p:password="${spring.redis.cluster.password}"-->
          <!--p:useSsl="false" p:poolConfig-ref="jedisPoolConfig" p:usePool="true"-->
    <!--&gt;-->
        <!--<constructor-arg name="clusterConfig" ref="redisClusterConfiguration"></constructor-arg>-->
    <!--</bean>-->

    <bean id="lettuceConnectionFactory"
          class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory"
          p:password="${spring.redis.cluster.password}"
          p:validateConnection="true"
    >
        <constructor-arg name="clusterConfiguration" ref="redisClusterConfiguration"></constructor-arg>
    </bean>

    <bean id="redisTemplate"
          class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="lettuceConnectionFactory"/>

    <bean id="redisUtils" class="com.kyle.framework.utils.RedisUtils">
        <property name="redisTemplate" ref="redisTemplate"></property>
    </bean>

</beans>